/* GENERAL */
.CarouselSection{
    padding: 115px 15px 109px 15px;
}



/* ITEM STYLE */
.main-container {
    max-width: 798px;
    height: 257px;
    padding-top: 115px;
    padding-bottom: 109px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .window {
    height: 100%;
    width: calc(798px + 1 * (100vw / 1920));
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }
  
  .all-pages-container {
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;

    }

  .ArrowsBox{
    display: flex;
    width: 121px;
    height: 50px;
    justify-content: space-between;
  }
  .ArrowsSingleBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #E0B973;
    border-radius: 10px;
    transition: all 0.6s linear;
    cursor: pointer;
    margin-top: 23px;
  }
  .ArrowsSingleBox:hover{
    background-color: #e0a538;
  }
  .arrow {
    font-size: 25px;
    color: white;
  }
  .item p {
    word-wrap: break-word;
  }


  
